.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('Background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}

#text{
    position:absolute;
    font-size: 5em;
    color: #1b283a;
    text-shadow: 2px 4px 5px #f9f9f9;
}

.sec{
    position: relative;
    background-color: #020912;
    padding: 30px 100px;
}

.sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    text-align: justify;
}